.profile__edit-button {
  width: 24px;
  height: 24px;

  border: 1px solid #fff;

  background-color: #000;

  grid-column: 2/-1;
  grid-row: 1/2;
  align-self: flex-end;
  margin-bottom: 8px;

  cursor: pointer;

  color: #fff;
}

.profile__edit-button:hover {
  color: rgba(255, 255, 255, 60%);
  border-color: rgba(255, 255, 255, 60%);
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 7px;
    padding: 0;
  }

  .profile__edit-button svg {
    width: 7.5px;
    height: 7.5px;
  }
}
