.profile {
  max-width: 880px;
  width: 100%;
  margin: 0 auto 50px;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;

    margin: 0 auto 36px;

    max-width: 282px;
  }
}
