.element__title {
  display: block;
  /* max-width: 230px; */
  padding: 0;
  margin: 25px 0 31px 21px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-size: 24px;
  line-height: normal;
  letter-spacing: 0;
  font-weight: 900;
}
