.add-button {
  margin: 0 0 0 auto;

  width: 150px;
  height: 50px;

  background-color: #000;
  border: 2px solid #fff;

  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .add-button {
    margin: 0;

    width: 100%;
  }
}
