.add-button {
  margin: 0 0 0 auto;

  width: 150px;
  height: 50px;

  background-color: #000;
  border: 2px solid #fff;

  cursor: pointer;

  color: #fff;
}

.add-button:hover {
  color: rgba(255, 255, 255, 60%);
  border-color: rgba(255, 255, 255, 60%);
}

@media screen and (max-width: 767px) {
  .add-button {
    margin: 0;

    width: 100%;
  }
}
