.logo {
  width: 142px;
  height: 33px;

  margin-bottom: 41px;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 103.75px;
    height: 24.4px;

    margin-bottom: 32px;
    margin-left: 27px;
  }
}
