.profile-modal {
  background-color: #fff;
  flex-direction: column;
  border: none;
  border-radius: 10px;

  padding: 34px 36px 37px;

  box-sizing: border-box;
  max-width: 430px;

  overflow: visible;
}

.profile-modal:open {
  display: flex;
}

.profile-modal::backdrop {
  background-color: rgba(0, 0, 0, 50%);
}

@media screen and (max-width: 767px) {
  .profile-modal {
    padding: 25px 22px;
    width: 282px;
  }
}
