.profile-modal__title {
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0;
  font-weight: 900;

  margin: 0 0 52px;
}

@media screen and (max-width: 767px) {
  .profile-modal__title {
    font-size: 18px;
    margin: 0 0 75px;
  }
}
