.element {
  width: 100%;
  max-width: 282px;

  background-color: #fff;

  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: max-content auto;
  align-items: center;

  border-radius: 10px;
  overflow: hidden;

  aspect-ratio: calc(282 / 361);

  position: relative;
}

.element .like-button {
  margin-left: auto;
  margin-right: 20px;
}

.element .delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 767px) {
  .element {
    margin: 0 auto;
  }
}
