.card-modal__submit-button {
  width: 100%;
  height: 50px;

  cursor: pointer;

  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0;

  border: none;
}

.card-modal__submit-button:hover {
  background-color: rgba(0, 0, 0, 80%);
}

@media screen and (max-width: 767px) {
  .card-modal__submit-button {
    font-size: 14px;
  }
}
