@import url("../fonts/fonts.css");
/* header */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__line/header__line.css");
/* logo */
@import url("../blocks/logo/logo.css");
/* profile */
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__occupation/profile__occupation.css");
/* add-button */
@import url("../blocks/add-button/add-button.css");
/* elements */
@import url("../blocks/elements/elements.css");
/* element */
@import url("../blocks/element/element.css");
@import url("../blocks/element/__image/element__image.css");
@import url("../blocks/element/__title/element__title.css");
/* like-button */
@import url("../blocks/like-button/like-button.css");
/* footer */
@import url("../blocks/footer/footer.css");
/* profiel-modal */
@import url("../blocks/profile-modal/profile-modal.css");
@import url("../blocks/profile-modal/__close-button/profile-modal__close-button.css");
@import url("../blocks/profile-modal/__title/profile-modal__title.css");
@import url("../blocks/profile-modal/__form/profile-modal__form.css");
@import url("../blocks/profile-modal/__text-input/profile-modal__text-input.css");
@import url("../blocks/profile-modal/__submit-button/profile-modal__submit-button.css");
/* card-modal */
@import url("../blocks/card-modal/card-modal.css");
@import url("../blocks/card-modal/__close-button/card-modal__close-button.css");
@import url("../blocks/card-modal/__title/card-modal__title.css");
@import url("../blocks/card-modal/__form/card-modal__form.css");
@import url("../blocks/card-modal/__text-input/card-modal__text-input.css");
@import url("../blocks/card-modal/__submit-button/card-modal__submit-button.css");
/* delete-button */
@import url("../blocks/delete-button/delete-button.css");

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
}
