@import url("../fonts/fonts.css");
/* header */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__line/header__line.css");
/* logo */
@import url("../blocks/logo/logo.css");

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
}
