.image-popup__close-button {
  color: #ffffff;
  position: absolute;

  top: -40px;
  right: -40px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  padding: 0;
}

.image-popup__close-button:hover {
  color: rgba(255, 255, 255, 60%);
}

@media screen and (max-width: 767px) {
  .image-popup__close-button svg {
    width: 20px;
    height: 20px;
  }

  .image-popup__close-button {
    right: -0px;
    top: -36px;
  }
}
